<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.member.repository.IMemberRepository">

<!-- Member showMemberInfo(string memberId);-->
	<select id="showMemberInfo" parameterType="string" resultType="com.example.demo.member.model.Member">
	    <![CDATA[
	        SELECT 
	            MEMBER_ID AS "memberId",
	            PASSWORD AS "password",
	            EMAIL AS "email"
	        FROM MEMBER
	        WHERE MEMBER_ID=#{memberid}
	    ]]>
	</select>


<!-- List<String> getRoles(string memberId); -->
	<select id="getRoles" parameterType="string" resultType="string">
	    <![CDATA[
	        SELECT 
	            ROLE AS "role",
	            MEMBER_ID AS "memberId"
	        FROM MEMBER_ROLES
	        WHERE MEMBER_ID=#{memberid}
	    ]]>
	</select>
	
<!-- String getMemberIdByDirId(String dirId); -->
	<select id="getMemberIdByDirId" parameterType="string" resultType="string">
	    <![CDATA[
	        SELECT 
	            MEMBER_ID AS "memberId"
	        FROM DIR_PATH
	        WHERE DIR_ID=#{dirId}
	    ]]>
	</select>











<!-- 
	<insert id="insertMember" parameterType="com.example.myapp.member.model.Member">
	<![CDATA[
		INSERT INTO 
			member (userid, name, password, phone, email) 
		VALUES 
			(#{userid}, #{name}, #{password}, #{phone}, #{email})
	]]>
	</insert>

	<select id="selectMember" parameterType="string" resultType="com.example.myapp.member.model.Member">
	<![CDATA[
		SELECT 
			userid,
			name,
			password,
			phone,
			email 
		FROM 
			member 
		WHERE userid=#{userid}
	]]>
	</select>
	
	<select id="selectAllMembers" resultType="com.example.myapp.member.model.Member">
	<![CDATA[
		SELECT 
			userid, name, password, phone, address 
		FROM
			member
	]]>
	</select>
 -->
 
	<!--  update 는 들어오는 값을 기준으로 동적 처리를 하기 위해서, 아래에 추가했습니다.
	<update id="updateMember" parameterType="com.example.myapp.member.model.Member">
	<![CDATA[
		UPDATE MEMBER
		SET 
			memberName=#{memberName}, password=#{password}, email=#{email} 
		WHERE 
			memberId=#{memberId}
	]]>
	</update>
	-->

<!--  
	<update id="updateMember" parameterType="com.example.demo.member.model.Member">
    <![CDATA[
        UPDATE MEMBER
        <set>
            <if test="memberName != null">memberName=#{memberName},</if>
            <if test="password != null">password=#{password},</if>
            <if test="email != null">email=#{email}</if>
        </set>
        WHERE memberId=#{memberId}
    ]]>
	</update>
	
	<delete id="deleteMember" parameterType="com.example.myapp.member.model.Member">
	<![CDATA[
		DELETE FROM
			member 
		WHERE
			userid=#{userid} AND password=#{password}
	]]>
	</delete>
	
	<select id="getPassword" parameterType="string" resultType="string">
	<![CDATA[
		SELECT
			password
		FROM
			member
		WHERE userid=#{userid}
	]]>
	</select>
-->
</mapper>